<!DOCTYPE html>
<html>
  <head>
    <title>MeetupMap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <h1>MeetupMap - Lists suck!</h1>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="container">
      <!--<p>I made this!</p>-->
    </footer>
  </body>
</html>
